*{
	padding: 0;
	margin: 0;
	border: 0;
}
*, *:before, *:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus, :active{outline: none;}
a:focus, a:active{outline: none;}
nav,footer,header,aside{display: block;}
html, body{
	height: 100%;
	width: 100%;
	font-style: 100%;
	line-height: 1;
	font-style: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input, button, textarea{font-family: inherit;}
input::-ms-clear{display:none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style-type: none;}
img{vertical-align: top;}
h1,h2, h3, h4, h5, h6{font-style: inherit; font-weight: 400;}
body{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.header{
	background: #445162;
	padding: 50px 0 51px 0;
}
.container{
	max-width: 1250px;
	margin: 0 auto;
	padding: 0 15px;
}
.header__items{
	display: flex;
	justify-content: space-between;
}
.header__text{
	font-size: 60px;
	line-height: 1.2;
	text-shadow: 0px 1px 0px rgba(0,0,0,0.3);
	color: #ffffff;
}
.text__list{
	font-size: 20px;
}
.text__title{
	padding-bottom: 40px;
}
li{
	padding-left: 40px;
	margin-bottom: 10px;
	background: url("./../img/check_icon_346.png") left no-repeat;
}
.main{
	padding: 49px 0 46px 0;
}
.main__items{
	display: flex;
	justify-content: space-between;
}
.main__text{
	padding-left: 40px;
}
.main__title{
	font-size: 30px;
	line-height: 36px;
	color: #445161;
	padding-bottom: 36px;
}
.main__text-text{
	font-size: 16px;
	line-height: 24px;
	color: #333333;
}
.main__text-text p{
	padding-bottom: 20px;
}
.column{
	background: #f5f5f5;
	padding: 50px 0;
}
.flex{
	display: flex;
}
.text{
	font-size: 30px;
	line-height: 36px;
	color: #445161;
	text-align: center;
	padding-bottom: 30px;
}
.flex__square{
	display: flex;
	padding-bottom: 30px;
}
.square__text{
	padding-left: 20px;
}
.square__title{
	font-size: 24px;
	line-height: 30px;
	color: #445161;
}
.square__text-text{
	font-size: 16px;
	line-height: 24px;
	color: #333333;
	max-width: 380px;
	margin-right: 20px;
}
.vertical{
	padding: 50px 0;
}
.abc{
	display: flex;
	justify-content: space-around;
}
.vertical123{
	display: flex;
	flex-direction: column;
	height: 100%;
	background: #445162;
	max-width: 300px;
	min-height: 499px;
	border-radius: 10px;
}
.vertical__column{
	flex: 1 0 auto;
}
.item__title{
	font-size: 24px;
	line-height: 30px;
	text-transform: uppercase;
	color: #ffffff;
	text-align: center;
	padding: 20px 0;
}
.item__btn{
	text-align: center;
	font-size: 40px;
	color: #445162;
	background: #fff;
	line-height: 30px;
	height: 71px;
	padding-top: 17px;
	margin: 0 5px 0 5px;
}
.item__text{
	font-size: 14px;
	line-height: 24px;
	color: #ffffff;
	padding: 20px 20px;
}
.item_href{
	padding-bottom: 30px;
	flex: 0 0 auto;
	text-align: center;
}
button{
	width: 260px;
	height: 40px;
	background-color: #ffffff;
	border-radius: 5px;

	padding: 10px 0;
	border-radius: 5px;
	background-color: #fff;
	font-size: 18px;
	font-weight: 700;
	color: #445161;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
  background: #f5f5f5;
  text-align: center;
  padding: 31px 0 23px 0;
}
.footer p{
	font-size: 12px;
	line-height: 24px;
	letter-spacing: 0.025em;
	color: #445162;
}
.a{
	padding-bottom: 10px;
}